body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.TSGrid {
  text-align: center;
}
.useRefAppDiv {
  border: 2px solid rgb(234, 105, 31);
  margin-bottom: 20px;
  padding-left: 20px;
}
.useRefButton {
  background-color: rgb(234, 105, 31);
  width: 150px;
}
.ApiDiv {
  border: 2px solid rgb(60, 168, 28);
  padding-left: 20px;
}
.apiButton {
  background-color: rgb(60, 168, 28);
  width: 150px;
}
.useContextDiv {
  border: 2px solid rgb(84, 105, 141);
  margin-bottom: 20px;
  padding-left: 20px;
}
.useContextButton {
  background-color: rgb(84, 105, 141);
  width: 150px;
}

.tipButton {
  background-color: rgb(188, 204, 64);
  width: 150px;
}
.tipDiv {
  margin-top: 20px;
  border: 2px solid rgb(188, 204, 64);
  padding-left: 20px;
}
.routerDiv {
  margin-top: 20px;
  border: 2px solid rgb(180, 35, 156);
  padding-left: 20px;
}
.routerBtn {
  background-color: rgb(180, 35, 156);
  width: 150px;
}
.styleCompBtn {
  background-color: rgb(38, 195, 187);
  width: 150px;
}
.styleCompDiv {
  margin-top: 20px;
  border: 2px solid rgb(38, 195, 187);
  padding-left: 20px;
}

.hocDiv {
  border: 2px solid rgb(38, 195, 130);
  padding-left: 20px;
}
.hocBtn {
  width: 150px;
  background-color: rgb(38, 195, 130);
}
