body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.useRefAppDiv {
  border: 2px solid rgb(234, 105, 31);
  margin-bottom: 20px;
}
.useRefButton {
  background-color: rgb(234, 105, 31);
}
.ApiDiv {
  border: 2px solid rgb(60, 168, 28);
}
.apiButton {
  background-color: rgb(60, 168, 28);
}
.useContextDiv {
  border: 2px solid rgb(84, 105, 141);
  margin-bottom: 20px;
}
.useContextButton {
  background-color: rgb(84, 105, 141);
}
